.MoviesCard {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  object-fit: cover;
  position: relative;
}

.MoviesCard__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;
}

.MoviesCard__caption {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.MoviesCard__name {  
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 9px;
}

.MoviesCard__duration {
  align-items: center;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}



.MoviesCard__fav {
  align-self: center;
  background: #313131;  
  background-image: url('../../images/inactivSavedIcon.svg');
  background-size: cover;
  border: none;
  border-radius: 36px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}

.Moviescard__image {
  min-width: 100%;
  max-width: 123%;
}

@media screen and (min-width: 482px) and (max-width: 1044px) {

}

@media screen and (min-width: 1045px) {
  .Moviescard__image {
    width: 123%;
  }
}