.Movies {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14px;
  margin-right: 14px;
  width: 100%;
}

.Movies__line {
  background: #AAAAAA;
  border-bottom: none;
  height: 1px;  
  margin-top: 63px;
  opacity: 0.2;
  width: Calc(100% - 28px);
}

@media screen and (min-width: 482px) and (max-width: 1044px) {
  .Movies__line {
    width: Calc(100% - 60px);
  }
}

@media screen and (min-width: 1045px) {
  .Movies__line {
    width: Calc(100% - 140px);
  }
}