.SearchForm {
  align-items: center;
  border: 1.5px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 8px; 
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: space-between;
  margin-top: 50px;
  max-width: 1140px;
  width: calc(100% - 28px);
}

.SearchForm__input {
  background-color: #202020;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  margin-left: 12px;
}

.SearchForm__button {
  color: #FFFFFF;
  background: #4285F4;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  height: 44px;
  line-height: 18px;
  margin-right: 6px;
  text-align: center;
  width: 80px;
}

