.Header {
  align-items: center;
  background: #073042;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 74px;
  width: 100%;
}

.Header__logo {
  margin-left: 14px;
  height: 38px;
  width: 38px;
}

.Header__nav {
  align-items: center;
  display: table-cell;
}

.Header__link {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500; 
  line-height: 16px; 
  text-decoration: none;
}

.Header__link-button {
  background: #3DDC84;
  border-radius: 3px;
  color: #000;
  font-size: 10px;
  font-weight: 500;
  height: 26px;
  line-height: 16px;
  margin-left: 14px;
  margin-right: 14px;
  padding: 7.5px 13.63px;
  text-align: center;
  text-decoration: none;
  width: 54px;
}