.FilterCheckbox {
  align-self: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 14px;
  margin-top: 28px;
}

.FilterCheckbox__Switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;

}

.FilterCheckbox__input {
  display:none;
}

.FilterCheckbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #202020;
  -webkit-transition: .4s;
  transition: .4s;
}

.FilterCheckbox__slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #3DDC84;
  -webkit-transition: .4s;
  transition: .4s;
}

.FilterCheckbox__slider:before:checked {
  background-color: #3DDC84;
}


.FilterCheckbox__input:checked + .FilterCheckbox__slider {
  background-color: #202020;
}

.FilterCheckbox__input:focus + .FilterCheckbox__slider {
  box-shadow: 0 0 1px #202020;
}

.FilterCheckbox__input:checked + .FilterCheckbox__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.FilterCheckbox__name {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 20px;
}


@media screen and (min-width: 482px) and (max-width: 1044px) {
  .FilterCheckbox {
    margin-left: 30px;
    margin-top: 26px;
  }
}

@media screen and (min-width: 1045px) {
  .FilterCheckbox {
    margin-left: 70px;
    margin-top: 26px;
  }
}

