.Register {
  align-items: center;
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  max-width: 1280px;
  min-width: 320px;
  padding-top: 56px;
  width: 100%;  
}
 /* Сделать так чтобы не уезжала далеко нижняя часть (из-за 3х строчек вместо 2х)*/